__pycache__/
web-scraping/.env
web-scraping/.env.dev
web-scraping/__pycache__/
web-scraping/.ipynb_checkpoints/
data-preparation/.env
data-preparation/.env.dev
data-preparation/__pycache__/
data-preparation/.ipynb_checkpoints/