__pycache__/
web-scraping/.env
web-scraping/.env.dev
web-scraping/__pycache__/
web-scraping/.ipynb_checkpoints/
data-cleaning/.env
data-cleaning/.env.dev
data-cleaning/__pycache__/
data-cleaning/.ipynb_checkpoints/
data-cleaning/dask-worker-space/
data-analytics/.env
data-analytics/.env.dev
data-analytics/__pycache__/
data-analytics/.ipynb_checkpoints/
data-analytics/dask-worker-space/
notebooks/.ipynb_checkpoints/
notebooks/dask-worker-space/
notebooks/data/.ipynb_checkpoints/